.body {
	background-color:#008527;
}

.headers {
	font-size: 100px;
	color: #FFFFFF;
	font-family: "Skia";
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 50%;
}

.awardheaders {
	font-size: 40px;
	font-family:"Sinhala Sangam MN";
	color: #FFFFFF;
}

.introp {
	font-family: "Sinhala Sangam MN";
	margin-left:auto;
	margin-right:auto;
	width:98%;
}

.stepsp {
	font-family: "Sinhala Sangam MN";
	margin-left:auto;
	margin-right:auto;
	width:98%;
}

.stepsinfo {
	font-family: "Sinhala Sangam MN";
	font-size: 16px;
	margin-left:auto;
	margin-right:auto;
	width:98%;
}

.links {
	color: #C8C8C8;
}

.starticons {
	margin-left:30px;
	width: 30%;
	float: left
}

#intropcontainer {
	background-color: #00aa4d;
	color: #FFFFFF;
	width: 670px;
	max-width: 670px;
	margin: 0 auto;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#stepscontainer {
	background-color: #00aa4d;
	color: #F8F8F8;
	width: 550px;
	margin: 0 auto;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#stepsinfocontainer {
	background-color: #36b46f;
	color: #E8E8E8;
	width: 400px;
	margin: 0 auto;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#container {
	margin: 0 auto;
}

#navbuttons {
	background-color: #00aa4d;
	width: 6.3%;
	height: 100%;
	margin-left:auto;
	margin-right:auto;
	-moz-border-radius: 15px;
	border-radius: 15px;
	inline-block;
	vertical-align: middle;
}
